.footer-link-box span{
    color: white;
    margin-bottom: 0.5em;
}


.footer-link-box ul{
    display: none;
    list-style: none;
    transition: display 0.5s ease-in-out;
    color: #BCBCBC;
    margin-bottom: 1em;
}

