.headlines-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headlines-box > span {
    align-self: flex-start;
    margin: 0.8em 0 0.8em 5vw;
    font-size: 1.3rem;
    font-weight: 400;
}