.headlines-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headlines-box > span {
    align-self: flex-start;
    margin: 0.8em 0 0.8em 5vw;
    font-size: 1.3rem;
    font-weight: 400;
}

.headlines-box hr{
    width: 90vw;
    border: none;
    border-top: 1px solid #D8D8D8;
}

@media (min-width: 768px) {
    .headlines-box{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 5vw;
        gap: 1rem;
    }
    
    .headlines-box > span {
        display: block;
        margin: 0.8em 0 0 0;
        flex-basis: 100%;
    }
}

@media (min-width: 1280px) {
    .headlines-box{
        padding: 0 15vw;
        justify-content: center;
    }

    .headlines-box > span{
        font-weight: 500;
        flex-basis: 81.5%;
    }
}