.navbar2{
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 6vh;
    align-items: center;
    padding: 0 0.3em;
    border-bottom: 3px solid #D8D8D8;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    color: #202132;
}

.navbar2::-webkit-scrollbar{
    display: none;
}

.navbar2 div{
    display: inline-block;
    margin: 0 1em;
    color: #202132;
    font-weight: 410;
    position: relative;
    transition: all 0.1s ease-in-out;
}

.navbar2 div::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 0.1rem;
    bottom: -5%;
    left: 50%;
    background-color:  #c1b2ff;
    transform: translateX(-50%);
    transition: all 0.1s ease-in-out;
}

.navbar2 div:hover{
    color: 	#314a63;
}

.navbar2 div:active{
    transform: scale(0.98) translate(0.5em);
}

.navbar2 div:hover::after{
    width: 80%;
    box-shadow: 0 0 0.2rem #c1b2ff;
}

.navbar2 .vertical-line{
    height: 1em;
    border-left: 1px solid #D8D8D8;
}

@media (min-width: 1280px) {
    .navbar2{
        padding: 0.5rem 0.3em;
        font-size: 0.8rem;
        justify-content: center;
        width: 100%;
    }
}