.search-widget{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.search-widget input{
    font-family: 'Neue Montreal', Arial, Helvetica, sans-serif;
    height: 60%;
    background-color: #444444;
    color: #7b7a7a;
    border: none;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    border: 0.5px solid rgba(255, 255, 255, 0.088);
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.search-widget input:hover{
    transform: scale(1.02)
}

.search-widget input:focus{
    border: none;
    outline: none;
    color: white;
}

@media(min-width: 768px){
    .search-widget input{
        border-radius: 0.2rem;
    }
}