*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Neue Montreal', Arial, Helvetica, sans-serif;
}

/* Neue Montreal Font Faces */
@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/NeueMontreal-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/NeueMontreal-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/NeueMontreal-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/NeueMontreal-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/NeueMontreal-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/NeueMontreal-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/NeueMontreal-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/NeueMontreal-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

nav{
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202123;
}

.logo{
    height: 65%;
    width: auto;
    object-fit: contain;
}